NEXT_PUBLIC_GITHUB_URL=
NEXT_PUBLIC_LINKEDIN_URL=
NEXT_PUBLIC_EMAIL=
NEXT_PUBLIC_TWITTER_URL=
NEXT_PUBLIC_MEDIUM_URL=

# Project URLs
NEXT_PUBLIC_LOVELY_SHELF_REPO=

# Blog post URLs
NEXT_PUBLIC_POST_MCP=
NEXT_PUBLIC_POST_AI_TOOLS=
NEXT_PUBLIC_POST_STICKER=
NEXT_PUBLIC_POST_GIT=
NEXT_PUBLIC_POST_REDIS=
NEXT_PUBLIC_POST_VSCODE=
NEXT_PUBLIC_POST_LINUX=
NEXT_PUBLIC_POST_LARAVEL=
NEXT_PUBLIC_POST_EMAIL_TEMPLATE=
NEXT_PUBLIC_POST_SESSION=
